<!DOCTYPE html>
<html>
  <head>
    <title>Avvocato Lenzi - Servizi come-lavoriamo</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/come-lavoriamo.scss" />
  </head>
  <body class="come-lavoriamo">
    <%- include('../partials/header'); -%>

    <%- include('../partials/hero_start', {page: 'come-lavoriamo'}); -%>
        Come lavoriamo
    <%- include('../partials/hero_end'); -%>

    <section class="come-lavoriamo-motto">
        <div class="come-lavoriamo-motto-content">
            <div class="come-lavoriamo-motto-box">
            <quote class="come-lavoriamo-motto-quote">
                Professionalità e chiarezza.<br/>
                Rapporto diretto con il cliente.<br/>
                Consulenze orientate al risultato.
            </quote>
            </div>
        </div>
    </section>


    <section class="come-lavoriamo-area">
        <div class="come-lavoriamo-area-container">

            <!-- Tutela della persona -->
            <div class="come-lavoriamo-area-col">
            <div class="come-lavoriamo-area-img come-lavoriamo-area-img--customer"></div>
            <a class="come-lavoriamo-area-title" href="#">Tutela della persona</a>
            <ol class="come-lavoriamo-area-list">
                <li class="come-lavoriamo-area-item">Risarcimento del danno</li>
                <li class="come-lavoriamo-area-item">Diritto di famiglia e dei minori</li>
                <li class="come-lavoriamo-area-item">Locazioni</li>
                <li class="come-lavoriamo-area-item">Diritto condominiale</li>
                <li class="come-lavoriamo-area-item">Contrattualistica</li>
            </ol>
            </div>

            <!-- Servizi per le piccole e medie imprese -->
            <div class="come-lavoriamo-area-col">
            <div class="come-lavoriamo-area-img come-lavoriamo-area-img--support"></div>
            <a class="come-lavoriamo-area-title" href="#">Servizi per le piccole e medie imprese</a>
            <p class="come-lavoriamo-area-paragraph">
                Ci sono molti problemi legali che possono distrarre un imprenditore dalla sua attività.
            </p>
            <p class="come-lavoriamo-area-paragraph">
                Per ridurre le sue preoccupazioni è necessario affidarsi ad uno studio legale di fiducia che gestisca efficientemente le questioni legali.
            </p>
            </div>

            <!-- Tutela dei consumatori -->
            <div class="come-lavoriamo-area-col">
            <div class="come-lavoriamo-area-img come-lavoriamo-area-img--clear"></div>
            <a class="come-lavoriamo-area-title" href="#">Tutela dei consumatori</a>
            <p class="come-lavoriamo-area-paragraph">
                Lavoriamo per assicurare in favore dei consumatori un trattamento giusto, ottenendo risultati postitivi sia in sede di conciliazione che in quella giudiziaria.
            </p>
            </div>

        </div>
    </section>


    <section class="come-lavoriamo-picture">
        <div class="come-lavoriamo-picture-container">
            <figure class="come-lavoriamo-picture-figure">
                <img src="https://placehold.it/496x750" alt="Avv. Francesca Lenzi">
                <figcaption>
                    <h2>Avv. Francesca Lenzi</h2>
                    <p>Iscritta all’Ordine degli Avvocati di Prato</p>
                </figcaption>
            </figure>
        </div>
    </section>

    <%- include('../partials/footer'); -%>

  </body>
</html>
