<!DOCTYPE html>
<html>
  <head>
    <title>Avvocato Lenzi - Come Lavoro</title>

    <%- include('../partials/head'); -%>

    <meta description="Professionalità e chiarezza. Rapporto diretto con il cliente. Consulenze orientate al risultato.">

    <meta property="og:url" content="https://www.avvocatolenzi.it/come-lavoriamo.html" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="it_IT" />
    <meta property="og:title" content="Avvocato Lenzi - Come Lavoro" />
    <meta property="og:description" content="Professionalità e chiarezza. Rapporto diretto con il cliente. Consulenze orientate al risultato." />
    <meta property="og:image" content="/images/avvocato_francesca_lenzi_prato_700.jpg" />

    <link rel="stylesheet" type="text/css" href="../styles/come-lavoriamo.scss" />
  </head>
  <body class="come-lavoriamo">
    <%- include('../partials/header'); -%>

    <%- include('../partials/hero_start', {page: 'come-lavoriamo'}); -%>
        <em>Come lavoro</em>
    <%- include('../partials/hero_end'); -%>

    <section class="come-lavoriamo-area">
        <div class="come-lavoriamo-area-container">

            <!-- Tutela della persona -->
            <div class="come-lavoriamo-area-col">
            <div class="come-lavoriamo-area-img come-lavoriamo-area-img--customer"></div>
            <h2 class="come-lavoriamo-area-title">Determinazione degli obiettivi</h2>
            <p class="come-lavoriamo-area-paragraph">
                Dedico tempo a capire le tue priorità perché ciasuna persona o azienda che assisto ha bisogni e obiettivi individuali.
            </p>
            <p class="come-lavoriamo-area-paragraph">
                Ogni situazione è unica, per questo le strategie e le soluzioni proposte sono studiate in modo specifico per soddisfare le singole esigenze.
            </p>
            </div>

            <!-- Servizi per le piccole e medie imprese -->
            <div class="come-lavoriamo-area-col">
            <div class="come-lavoriamo-area-img come-lavoriamo-area-img--support"></div>
            <h2 class="come-lavoriamo-area-title">Assistenza, difesa e attenzione personale</h2>
            <p class="come-lavoriamo-area-paragraph">
              Seguo ogni caso con cura affiancando il cliente durante tutto il percorso. Rispondo in modo chiaro e diretto alle domande fornendo costanti aggiornamenti sull’avanzamento del caso.
            </p>
            </div>

            <!-- Tutela dei consumatori -->
            <div class="come-lavoriamo-area-col">
            <div class="come-lavoriamo-area-img come-lavoriamo-area-img--clear"></div>
            <h2 class="come-lavoriamo-area-title">Preventivi chiari</h2>
            <p class="come-lavoriamo-area-paragraph">
              I costi vengono tutti discussi preventivamente, in modo da assicurare che i profili economici dell’assistenza legale siano chiari e in linea con le tue esigenze prima di procedere con qualsiasi rappresentanza.
            </p>
            </div>

        </div>
    </section>

    <%- include('../partials/footer'); -%>

  </body>
</html>
