<!DOCTYPE html>
<html>
  <head>
    <title>Avvocato Lenzi - Servizi come-lavoriamo</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/come-lavoriamo.scss" />
  </head>
  <body class="come-lavoriamo">
    <%- include('../partials/header'); -%>

    <%- include('../partials/hero_start', {page: 'come-lavoriamo'}); -%>
        <em>Come lavoriamo</em>
    <%- include('../partials/hero_end'); -%>

    <section class="come-lavoriamo-motto">
        <div class="come-lavoriamo-motto-content">
            <div class="come-lavoriamo-motto-box">
            <quote class="come-lavoriamo-motto-quote">
                Professionalità e chiarezza.<br/>
                Rapporto diretto con il cliente.<br/>
                Consulenze orientate al risultato.
            </quote>
            </div>
        </div>
    </section>


    <section class="come-lavoriamo-area">
        <div class="come-lavoriamo-area-container">

            <!-- Tutela della persona -->
            <div class="come-lavoriamo-area-col">
            <div class="come-lavoriamo-area-img come-lavoriamo-area-img--customer"></div>
            <h2 class="come-lavoriamo-area-title">Il cliente al primo posto</h2>
            <p class="come-lavoriamo-area-paragraph">
                Dedichiamo tempo a capire le sue priorità perché ciasuna persona o azienda che assistiamo ha bisogni e obbiettivi individuali.
            </p>
            <p class="come-lavoriamo-area-paragraph">
                    Ogni situazione è unica, per questo le strategie e le soluzioni proposte sono studiate in modo specifico per soddisfare le sue esigenze.

            </p>
            </div>

            <!-- Servizi per le piccole e medie imprese -->
            <div class="come-lavoriamo-area-col">
            <div class="come-lavoriamo-area-img come-lavoriamo-area-img--support"></div>
            <h2 class="come-lavoriamo-area-title">Assistenza, difesa e attenzione personale</h2>
            <p class="come-lavoriamo-area-paragraph">
                Seguiamo ogni caso con cura e ci manteniamo in contatto con lei durante tutto il percorso. Rispondiamo in modo chiaro e diretto alle sue domande e la teniamo aggiornata sull’avanzamento del caso.
            </p>
            <p class="come-lavoriamo-area-paragraph">
                Ci impegniamo a fornirle sia la rappresentanza professionale richiesta, sia la attenzione personale che cerca.
            </p>
            </div>

            <!-- Tutela dei consumatori -->
            <div class="come-lavoriamo-area-col">
            <div class="come-lavoriamo-area-img come-lavoriamo-area-img--clear"></div>
            <h2 class="come-lavoriamo-area-title">Preventivi chiari</h2>
            <p class="come-lavoriamo-area-paragraph">
                    I costi vengono tutti discussi preventivamente, in modo da assicurare che i profili economici dell’assistenza legale siano chiari e in linea con le sue esigenze prima di procedere con qualsiasi rappresentanza.
            </p>
            </div>

        </div>
    </section>


    <section class="come-lavoriamo-picture">
        <div class="come-lavoriamo-picture-container">
            <figure class="come-lavoriamo-picture-figure">
                <img src="https://placehold.it/496x750" alt="Avv. Francesca Lenzi">
                <figcaption>
                    <h2>Avv. Francesca Lenzi</h2>
                    <p>Iscritta all’Ordine degli Avvocati di Prato</p>
                </figcaption>
            </figure>
        </div>
    </section>

    <%- include('../partials/footer'); -%>

  </body>
</html>
