<!DOCTYPE html>
<html>
  <head>
    <title>Avvocato Lenzi - Servizi consulenze</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/consulenze.scss" />
  </head>
  <body class="consulenze">
    <%- include('../partials/header'); -%>

    <%- include('../partials/hero_start', {page: 'consulenze'}); -%>
        <em>Consulenze</em>
    <%- include('../partials/hero_end'); -%>

    <section class="consulenze-container">
        <div class="consulenze-box">
            <h2 class="consulenze-title">Consulenza</h2>
            <h3 class="consulenze-subtitle">Che cosa è?</h3>
            <p class="consulenze-paragraph">
                Si tratta di un primo incontro con l’avvocato. E’ necessario che lei ci esponga il suo caso per sapere se è una questione per la quale possiamo aiutarla.
            </p>

            <h3 class="consulenze-subtitle">Quando dovrei fissare un appuntamento?</h3>
            <p class="consulenze-paragraph">
                    Potrebbe volere una consulenza solo per raccogliere informazioni, oppure, potrebbe aver ricevuto un atto giudiziario. Quando è pronto a parlare delle sue opzioni fissi un appuntamento.
            </p>

            <h3 class="consulenze-subtitle">Cosa aspettarsi dalla consulenza</h3>
            <p class="consulenze-paragraph">
                    Il colloquio non è solo una opportunità per raccogliere informazioni ma è anche un momento per determinare se le piacerebbe assumerci per rappresentarla.
                    Solamente dopo l’accettazione dei costi e il conferimento dell’incarico potrà indicarci come suoi legali.
            </p>
        </div>
    </section>

    <section class="consulenze-form consulenze-form--light">
        <form
            action="https://docs.google.com/forms/d/e/1FAIpQLSevmkupX0yhbTm1KVO06zMJ9rEbGsiFv5AG-xhms0rDFXuiqw/formResponse"
            target="_self"
            id="bootstrapForm"
            method="POST"
            class="consulenze-container">
            <h2 class="consulenze-title">Ci contatti</h2>

            <input id="1082071619" type="text" name="entry.1082071619" class="consulenze-input" required placeholder="Nome e Cognome">
            <input id="949424316" type="text" name="entry.949424316" class="consulenze-input" name="company" placeholder="Azienda">
            <input id="1209087482" type="text" name="entry.1209087482" type="email" class="consulenze-input" name="email" required placeholder="e-mail">
            <input id="344646456" type="text" name="entry.344646456" class="consulenze-input" name="phone" required placeholder="Telefono">
            <textarea id="278206894" name="entry.278206894" class="consulenze-textarea" name="message" required placeholder="Messaggio"></textarea>

            <input type="hidden" name="fvv" value="1">
            <input type="hidden" name="fbzx" value="-853456485564565987">

            <input type="hidden" name="pageHistory" value="0">

            <label class="consulenze-checkbox" for="termsandconditions">
                <input name="termsandconditions" id="termsandconditions" type="checkbox" required>
                <span>Accetta <a target="_blank" href="/privacy.html">termini e condizioni</a></span>
            </label>

            <div class="consulenze-cta">
                <input type="submit" value="Invio Messaggio">
            </div>
        </form>
    </section>

    <%- include('../partials/footer'); -%>

  </body>
</html>
