<!DOCTYPE html>
<html>
  <head>
    <title>Avvocato Lenzi - Orari, Contatti, Dove siamo</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/contatti.scss" />
  </head>
  <body class="contatti">
    <%- include('../partials/header'); -%>

    <%- include('../partials/hero_start', {page: 'contatti'}); -%>
        <em>Contatti</em>
    <%- include('../partials/hero_end'); -%>

    <section class="contatti-container">
        <div class="contatti-box">
            <img class="contatti-icon" src="/images/clock.svg">
            <h2 class="contatti-title">Orari della segreteria</h2>
            <p class="contatti-paragraph">
                Dal LUNEDÍ al VENERDÍ<br/>
                9.00 - 1.00<br/>
                15.30 - 19.30<br/>
            </p>
        </div>

        <div class="contatti-box">
            <img class="contatti-icon" src="/images/phone-call.svg">
            <h2 class="contatti-title">Recapiti</h2>
            <p class="contatti-paragraph">
                Tel: <a href="tel:057435703">0574.35703</a><br/>
                fax: 0574.35668<br/>
                Email: <a href="mailto:francesca@avvocatolenzi.it">francesca@avvocatolenzi.it</a><br/>
            </p>
        </div>

        <div class="contatti-box">
            <img class="contatti-icon" src="/images/pin.svg">
            <h2 class="contatti-title">Dove siamo</h2>
            <address class="contatti-paragraph">
                Viale Vittorio Veneto, n. 7<br/>
                59100 PO - Prato
            </address>
        </div>
    </section>

    <section class="contatti-map">
        <div class="contatti-map-container">
          <iframe width="100%" height="100%" src="https://maps.google.com/maps?q=viale%20vittorio%20veneto%207%20Prato&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
      </section>

    <%- include('../partials/footer'); -%>

  </body>
</html>
