<!DOCTYPE html>
<html>
  <head>
    <title>Getting Started</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/index.scss">
  </head>
  <body class="index">
      <%- include('../partials/header'); -%>


      <%- include('../partials/hero_start', {page: 'index'}); -%>
        Tutela della <em>persona</em>, dei <em>consumatori</em> e assistenza delle piccole medie <em>imprese</em>
      <%- include('../partials/hero_end'); -%>


      <section class="index-motto">
        <div class="index-motto-content">
          <div class="index-motto-box">
            <quote class="index-motto-quote">
                Semplicità e Chiarezza e Consulenze orientate al Risultato per creare un rapporto Diretto e Genuino con il Cliente.
            </quote>
            <img class="index-motto-picture-in" src="https://placehold.it/422x653">
            <a class="index-motto-cta" href="#">Scopra di Più</a>
          </div>
          <img class="index-motto-picture-out" src="https://placehold.it/422x653">
        </div>
      </section>

      <section class="index-field index-field--odd">
        <div class="index-field-picture index-field-picture--people"></div>
        <div class="index-field-description">
          <div class="index-field-box">
              <a class="index-field-title" href="#">Tutela della persona</a>
              <ol class="index-field-list">
                <li class="index-field-item">Risarcimento del danno</li>
                <li class="index-field-item">Diritto di famiglia e dei minori</li>
                <li class="index-field-item">Locazioni</li>
                <li class="index-field-item">Diritto condominiale</li>
                <li class="index-field-item">Contrattualistica</li>
              </ol>
          </div>
        </div>
      </section>

      <section class="index-field index-field--even">
        <div class="index-field-description">
          <div class="index-field-box">
              <a class="index-field-title" href="#">Servizi piccole e medie imprese</a>
              <p class="index-field-paragraph">
                  Ci sono molti problemi legali che possono distrarre un imprenditore dalla sua attività.
              </p>
              <p class="index-field-paragraph">
                  Per ridurre le sue preoccupazioni è necessario affidarsi ad uno studio legale di fiducia che gestisca efficientemente le questioni legali.
              </p>
          </div>
        </div>
        <div class="index-field-picture index-field-picture--companies"></div>
      </section>

      <section class="index-field index-field--odd">
        <div class="index-field-picture index-field-picture--consumers"></div>
        <div class="index-field-description">
          <div class="index-field-box">
              <a class="index-field-title" href="#">Tutela dei consumatori</a>
              <p class="index-field-paragraph">
                  Lavoriamo per assicurare in favore dei consumatori un trattamento giusto, ottenendo risultati postitivi sia in sede di conciliazione che in quella giudiziaria.
              </p>
          </div>
        </div>
      </section>


      <section class="index-field index-field--even">
        <div class="index-field-description index-field-description--white">
          <div class="index-field-box">
              <a class="index-field-title" href="#">
                Fissi una Consulenza
              </a>
              <p class="index-field-paragraph">
                Chiami o invii una mail
              </p>
              <address class="index-field-address">
                Email: <a href="mailto:francesca@avvocatolenzi.it">francesca@avvocatolenzi.it</a><br/>
                Tel: <a href="tel:057435703">0574.35.70.3</a><br/>
                Viale Vittorio Veneto n. 7 59100 - PO
              </address>
          </div>
        </div>
        <div class="index-field-picture index-field-picture--agenda"></div>
      </section>

      <section class="index-map">
        <div class="index-map-container">
          <iframe width="100%" height="100%" src="https://maps.google.com/maps?q=viale%20vittorio%20veneto%207&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
      </section>

      <%- include('../partials/footer'); -%>

      <script src="${require('file-loader?name=[name].js?hash=[hash:20]!../js/index.js')}"></script>
  </body>
</html>
