<!DOCTYPE html>
<html>
  <head>
    <title>Getting Started</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/index.scss">
  </head>
  <body class="index">
      <%- include('../partials/header'); -%>


      <%- include('../partials/hero_start', {page: 'index'}); -%>
        Tutela della <em>persona</em>, dei <em>consumatori</em> e assistenza delle piccole medie <em>imprese</em>
      <%- include('../partials/hero_end'); -%>


      <section class="index-motto">
        <div class="index-motto-content">
          <div class="index-motto-box">
            <quote class="index-motto-quote">
                Professionalità e chiarezza.<br/>
                Rapporto diretto con il cliente.<br/>
                Consulenze orientate al risultato.
            </quote>
            <a class="index-motto-cta" href="#">Scopra di Più</a>
          </div>
        </div>
      </section>

      <section class="index-area">
        <div class="index-area-container">

          <!-- Tutela della persona -->
          <div class="index-area-col">
            <div class="index-area-img index-area-img--people"></div>
            <a class="index-area-title" href="#">Tutela della persona</a>
            <ol class="index-area-list">
              <li class="index-area-item">Risarcimento del danno</li>
              <li class="index-area-item">Diritto di famiglia e dei minori</li>
              <li class="index-area-item">Locazioni</li>
              <li class="index-area-item">Diritto condominiale</li>
              <li class="index-area-item">Contrattualistica</li>
            </ol>
          </div>

          <!-- Servizi per le piccole e medie imprese -->
          <div class="index-area-col">
            <div class="index-area-img index-area-img--companies"></div>
            <a class="index-area-title" href="#">Servizi per le piccole e medie imprese</a>
            <p class="index-field-paragraph">
                Ci sono molti problemi legali che possono distrarre un imprenditore dalla sua attività.
            </p>
            <p class="index-field-paragraph">
                Per ridurre le sue preoccupazioni è necessario affidarsi ad uno studio legale di fiducia che gestisca efficientemente le questioni legali.
            </p>
          </div>

          <!-- Tutela dei consumatori -->
          <div class="index-area-col">
            <div class="index-area-img index-area-img--consumers"></div>
            <a class="index-area-title" href="#">Tutela dei consumatori</a>
            <p class="index-field-paragraph">
                Lavoriamo per assicurare in favore dei consumatori un trattamento giusto, ottenendo risultati postitivi sia in sede di conciliazione che in quella giudiziaria.
            </p>
          </div>

        </div>
      </section>

      <section class="index-consultancy">
        <div class="index-consultancy-container">
          <div class="index-consultancy-left">
            <img class="index-consultancy-img" src="/images/agreement-application-business-893894.jpg"/>
          </div>

          <div class="index-consultancy-right">
            <a class="index-consultancy-title" href="#">Le nostre Consulenze</a>
            <p class="index-consultancy-paragraph">
                Chiami o invii una mail
            </p>
            <address class="index-consultancy-address">
              Email: <a href="mailto:francesca@avvocatolenzi.it">francesca@avvocatolenzi.it</a><br/>
              Tel: <a href="tel:057435703">0574.35.70.3</a><br/>
              Viale Vittorio Veneto n. 7 59100 - PO
            </address>
          </div>
        </div>
      </section>


      <section class="index-contacts index-contacts--lightbg">
        <div class="index-contacts-container">
          <div class="index-contacts-left">
            <a class="index-contacts-title" href="#">Le nostre Consulenze</a>
            <p class="index-contacts-paragraph">
                Chiami o invii una mail
            </p>
            <address class="index-contacts-paragraph">
              Email: <a href="mailto:francesca@avvocatolenzi.it">francesca@avvocatolenzi.it</a><br/>
              Tel: <a href="tel:057435703">0574.35.70.3</a><br/>
              Viale Vittorio Veneto n. 7 59100 - PO
            </address>
          </div>

          <div class="index-contacts-right">
            <img class="index-consultancy-img" src="/images/pawel-czerwinski-784154-unsplash.jpg"/>
          </div>
        </div>
      </section>

      <section class="index-map">
        <div class="index-map-container">
          <iframe width="100%" height="100%" src="https://maps.google.com/maps?q=viale%20vittorio%20veneto%207%20Prato&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
      </section>

      <%- include('../partials/footer'); -%>

      <script src="${require('file-loader?name=[name].js?hash=[hash:20]!../js/index.js')}"></script>
  </body>
</html>
