<!DOCTYPE html>
<html>
  <head>
    <title>Avvocato Lenzi - Privacy Policy</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/privacy.scss" />
  </head>
  <body class="privacy">
    <%- include('../partials/header'); -%> <%- include('../partials/hero_start',
    {page: 'privacy'}); -%> Privacy Policy <%- include('../partials/hero_end');
    -%>

    <section class="privacy-container">
      <div class="privacy-box">
        <h2 class="privacy-title">INFORMATIVA PRIVACY</h2>
        <p class="privacy-paragraph">
          la presente informativa viene resa ai sensi e per gli effetti dell’art.13 del Reg. Europeo 679/2016 (GDPR),
          <b>dall’Avv. Francesca Lenzi con sede in Via Vittorio Veneto, 7 – 59100 Prato, francesca@avvocatolenzi.it</b>, nella sua qualità di Titolare
          del trattamento dei dati personali. In conformità alla normativa vigente, ogni operazione concernente i
          dati personali raccolti sarà improntata ai principi di necessità, correttezza, liceità e trasparenza.
        </p>
        <h3 class="privacy-subtitle">FINALITÀ DEL TRATTAMENTO</h3>
        <p class="privacy-paragraph">
          I dati personali, anche particolari e giudiziari, forniti in sede di conferimento dell’incarico o acquisiti
          nel corso del rapporto per ragioni attinenti all’espletamento dell’incarico professionale di assistenza
          giudiziale o stragiudiziale verranno trattati per le seguenti finalità:
        </p>
        <ol class="privacy-list">
          <li class="privacy-list-item">espletamento dell’incarico professionale conferito;
          </li>
          <li class="privacy-list-item">adempimento degli obblighi contabili, fiscali e amministrativi;
          </li>
          <li class="privacy-list-item">adempimento della normativa antiriciclaggio e di tutti obblighi di legge;
          </li>
          <li class="privacy-list-item">esercizio e/o difesa dei diritti scaturenti dal rapporto con l’interessato.
          </li>
        </ol>
        <p class="privacy-paragraph">
          La base giuridica che rende legittimi i trattamenti di cui al punto 1) è l’esecuzione del rapporto contrattuale o l'esecuzione di misure precontrattuali adottate su richiesta dell’interessato.</br>
          La base giuridica che rende legittimi i trattamenti di cui ai punti 2) e 3) è l’obbligo di legge a cui il Titolare è soggetto.</br>
          La base giuridica che rende legittimi i trattamenti di cui al punto 4) è il legittimo interesse del Titolare a tutelare i propri diritti scaturenti dal rapporto con l’interessato.</br>
          Quando il trattamento riguarda particolari categorie di dati personali, è lecito in quanto necessario per accertare, esercitare o difendere un diritto in sede giudiziaria, amministrativa o stragiudiziale, ovvero ogniqualvolta le autorità giurisdizionali esercitino le loro funzioni giurisdizionali o, ancora, in virtù del consenso eventualmente espresso dall’interessato.</br>
        </p>

        <h3 class="privacy-subtitle">MODALITÀ DEL TRATTAMENTO</h3>
        <p class="privacy-paragraph">
          Il trattamento sarà effettuato con strumenti elettronici e cartacei ad opera di soggetti di ciò appositamente incaricati, in modo da garantire la massima sicurezza e la riservatezza dei dati stessi.
        </p>

        <h3 class="privacy-subtitle">NATURA DEL TRATTAMENTO</h3>
        <p class="privacy-paragraph">
          Il conferimento dei dati per l’espletamento del mandato professionale è facoltativo, ma strettamente necessario a dar seguito all’incarico conferito. L’eventuale rifiuto di conferire i predetti dati potrebbe comportare, e di norma comporta, l’impossibilità di eseguire il mandato professionale. </br>
          Il conferimento dei dati per la richiesta di contatto è facoltativo e l’eventuale rifiuto a conferirli produrrà il solo effetto di non poter riscontrare la richiesta dell’interessato.
        </p>

        <h3 class="privacy-subtitle">COMUNICAZIONE DEI DATI PERSONALI</h3>
        <p class="privacy-paragraph">
          Ai dati conferiti per ragioni attinenti <b>all’espletamento del mandato professionale</b> potranno avere accesso i dipendenti dello Studio quali incaricati interni al trattamento, appositamente formati dal Titolare, colleghi e i collaboratori di studio e potranno essere comunicati organi di giustizia, all’UIF in adempienza alle norme antiriciclaggio, alle autorità pubbliche, a periti, tecnici, consulenti e, in genere, a tutti quei soggetti pubblici e privati cui la comunicazione sia necessaria per il corretto adempimento delle finalità innanzi indicate, oltre che ai responsabili esterni del trattamento eventualmente nominati.</br>
          Nel caso di inadempimento contrattuale i dati personali, in base al principio di necessità, potranno essere comunicati a società, enti o professionisti al fine di esercitare tutte le azioni tese al recupero del credito e all’esercizio e/o alla difesa dei diritti scaturenti dal rapporto con l’interessato.</br>
          L’elenco aggiornato dei responsabili del trattamento è consultabile contattando il Titolare a mezzo e-mail all’indirizzo innanzi indicato.</br>
          I dati conferiti per le finalità relative al <b>riscontro della richiesta di contatto</b> potranno essere accessibili unicamente ai dipendenti incaricati e ai collaboratori di Studio.</br>
          In ogni caso i dati conferiti non saranno oggetto di diffusione, né di alcun processo decisionale interamente automatizzato, ivi compresa la profilazione.</br>
        </p>

        <h3 class="privacy-subtitle">TRASFERIMENTO DEI DATI PERSONALI</h3>
        <p class="privacy-paragraph">
          I dati raccolti potrebbero essere trasferiti a Paesi Terzi al di fuori dell’Unione Europea, ad esempio ad Autorità giudiziarie straniere, a colleghi e/o collaboratori, e/o a periti, tecnici e consulenti, unicamente quando ciò sia necessario per accertare, esercitare o difendere un diritto dell’interessato in sede giudiziaria, o quando ciò sia necessario per dare esecuzione al mandato professionale conferito, oltre che per quanto riguarda l’utilizzo di software di archiviazione in cloud e/o l’utilizzo di caselle di posta elettronica i cui server siano situati in tali paesi. In tali casi il trasferimento avverrà nelle forme e nei modi previsti alla vigente normativa, e comunque garantendo un adeguato livello di protezione, quali certificazioni Privacy Shield.
        </p>

        <h3 class="privacy-subtitle">PERIODO DI CONSERVAZIONE</h3>
        <p class="privacy-paragraph">
          I dati personali trattati per ragioni connesse <b>all’espletamento del mandato professionale</b> saranno conservati per tutta la durata dello stesso, Decorso tale periodo, nel rispetto del principio di necessità, i dati personali raccolti saranno trattati e conservati solo per il periodo strettamente necessario all’adempimento degli obblighi di legge, nonché ad esercitare le azioni tese al recupero del credito o all’esercizio e/o alla difesa dei diritti scaturenti dal rapporto con l’interessato.</br>
          I dati raccolti in seguito alla <b>richiesta di contatto dell’interessato</b> saranno conservati fino all’evasione della richiesta.
        </p>

        <h3 class="privacy-subtitle">DIRITTI DELL'INTERESSATO</h3>
        <p class="privacy-paragraph">
          L’interessato ha diritto di esercitare i diritti di cui agli artt. 7, 15-22 del Reg. Europeo 679/2016. In particolare, per i trattamenti basati sul consenso, l’interessato ha diritto di revocarlo in qualsiasi momento. L’interessato ha poi diritto di ottenere dal Titolare del trattamento la conferma dell’esistenza o meno dei propri dati personali e la loro messa a disposizione in forma intelligibile; ha diritto di chiedere l’accesso ai dati personali che lo riguardano, ricevere i dati personali forniti al Titolare e trasmetterli ad un altro Titolare del trattamento senza impedimenti (c.d. portabilità); ottenere l’aggiornamento, la limitazione del trattamento, la rettificazione dei dati e la cancellazione di quelli trattati in difformità dalla normativa vigente. L’interessato ha altresì diritto, per motivi legittimi, di opporsi al trattamento dei dati personali che lo riguardano ed al trattamento per fini di invio di materiale pubblicitario, di vendita diretta e per il compimento di ricerche di mercato. Ha altresì diritto a proporre reclamo al Garante della Privacy quale autorità di controllo in materia di protezione dei dati personali.</br>
          Le richieste dell’interessato potranno essere formulate a mezzo e-mail all’indirizzo del Titolare innanzi indicato.
        </p>

      </div>
    </section>

    <%- include('../partials/footer'); -%>
  </body>
</html>
