<!DOCTYPE html>
<html>
  <head>
    <title>Avvocato Lenzi - Privacy Policy</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/privacy.scss" />
  </head>
  <body class="privacy">
    <%- include('../partials/header'); -%> <%- include('../partials/hero_start',
    {page: 'privacy'}); -%> Privacy Policy <%- include('../partials/hero_end');
    -%>

    <section class="privacy-container">
      <div class="privacy-box">
        <h2 class="privacy-title">Privacy Policy Studio Legale Lenzi</h2>
        <p class="privacy-paragraph">
          La presente informativa viene resa ai sensi e per gli effetti
          dell’art.13 del Reg. Europeo 679/2016 (GDPR),
          <b
            >dall’Avv. Francesca Lenzi con sede in Via Vittorio Veneto, 7 –
            59100 Prato</b
          >, nella sua qualità di Titolare del trattamento dei dati personali.
          In conformità alla normativa vigente, ogni operazione concernente i
          dati personali raccolti sarà improntata ai principi di correttezza,
          liceità e trasparenza.
        </p>

        <h3 class="privacy-subtitle">NATURA DEL TRATTAMENTO</h3>
        <p class="privacy-paragraph">
          Il conferimento dei dati per &nbsp;l’espletamento del mandato
          professionale è facoltativo, ma strettamente necessario a dar seguito
          all’incarico conferito. L’eventuale rifiuto di conferire i predetti
          dati potrebbe comportare, e di norma comporta, l’impossibilità di
          eseguire il mandato professionale.
        </p>
        <p class="privacy-paragraph">
          Il conferimento dei dati&nbsp;<strong
            >l’iscrizione alla newsletter</strong
          >&nbsp;è facoltativo e l’eventuale rifiuto a conferirli comporterà
          unicamente l’impossibilità di ricevere la newsletter, nonché
          l’impossibilità di accedere all’area riservata agli iscritti ove è
          possibile scaricare gratuitamente il materiale reso disponibile, ma
          non produrrà alcun effetto su eventuali ulteriori rapporti
          professionali eventualmente in essere con il Titolare.
        </p>
        <p class="privacy-paragraph">
          Il conferimento dei dati per&nbsp;<strong
            >le richiesta di contatto&nbsp;</strong
          >e<strong>&nbsp;l’invio di candidature spontanee&nbsp;</strong>è
          facoltativo e l’eventuale rifiuto a conferirli produrrà il solo
          effetto di non poter riscontrare la richiesta dell’interessato o di
          prendere in considerazione la relativa candidatura.
        </p>
        <h3 class="privacy-subtitle">COMUNICAZIONE DEI DATI PERSONALI</h3>
        <p class="privacy-paragraph">
          Ai dati conferiti per ragioni attinenti&nbsp;<strong
            >all’espletamento del mandato professionale</strong
          >&nbsp;potranno avere accesso:
        </p>
        <ul class="privacy-list">
          <li class="privacy-list-item">
            I dipendenti dello Studio quali incaricati interni al trattamento,
            appositamente formati dal Titolare
          </li>
          <li class="privacy-list-item">I Colleghi e i collaboratori di studio</li>
        </ul>
        <p class="privacy-paragraph">e potranno essere comunicati a</p>
        <ul class="privacy-list">
          <li class="privacy-list-item">Organi di Giustizia</li>
          <li class="privacy-list-item">
            Unità d’Informazione Finanziaria (UIF) in adempienza alle norme
            antiriciclaggio
          </li>
          <li class="privacy-list-item">Autorità Pubbliche</li>
          <li class="privacy-list-item">Periti, tecnici, consulenti</li>
        </ul>
        <p class="privacy-paragraph">
          per l’espletamento degli incarichi giudiziali e stragiudiziali
          conferiti, oltre che ai responsabili esterni del trattamento
          eventualmente nominati.
        </p>
        <p class="privacy-paragraph">
          I dati conferiti mediante&nbsp;<strong
            >iscrizione alla newsletter</strong
          >&nbsp;potranno essere accessibili anche alla società gestore del sito
          internet ed a quella delegata alla gestione tecnica degli invii delle
          newsletter, entrambe nominate responsabili del trattamento.
        </p>
        <p class="privacy-paragraph">
          L’elenco aggiornato dei responsabili del trattamento è consultabile
          contattando il Titolare a mezzo mail all’indirizzo innanzi indicato.
        </p>
        <p class="privacy-paragraph">
          I dati conferiti per le finalità relative al&nbsp;<strong
            >riscontro delle richiesta di contatto&nbsp;</strong
          >e<strong>&nbsp;di valutazione di candidature spontanee</strong
          >&nbsp;potranno essere accessibili unicamente ai dipendenti incaricati
          e ai collaboratori di studio.
        </p>
        <p class="privacy-paragraph">I dati conferiti non saranno in alcun caso oggetto di diffusione.</p>
        <h3 class="privacy-subtitle">TRASFERIMENTI DEI DATI PERSONALI</h3>
        <p class="privacy-paragraph">
          I dati raccolti potrebbero essere &nbsp;trasferiti a Paesi Terzi al di
          fuori dell’Unione Europea, ad esempio ad Autorità giudiziarie
          straniere, a colleghi e/o collaboratori, e/o a periti, tecnici e
          consulenti, unicamente quando ciò sia necessario per accertare,
          esercitare o difendere un diritto dell’interessato in sede
          giudiziaria, o quando ciò sia necessario per dare esecuzione al
          mandato professionale conferito, oltre che per quanto riguarda
          l’utilizzo di software quali Google Drive. In tali casi il
          trasferimento avverrà nelle forme e nei modi previsti alla vigente
          normativa, e comunque garantendo un adeguato livello di protezione,
          quali certificazioni Privacy Shield.
        </p>
        <h3 class="privacy-subtitle">PERIODO DI CONSERVAZIONE</h3>
        <p class="privacy-paragraph">
          I dati personali trattati per ragioni connesse&nbsp;<strong
            >all’espletamento del mandato professionale</strong
          >&nbsp;saranno conservati per tutta la durata dello stesso, e
          comunque, fino a che l’interessato non faccia richiesta di
          restituzione qualora si sia in presenza di un rapporto solo
          precontrattuale.
        </p>
        <p class="privacy-paragraph">
          In caso di rapporto contrattuale i dati raccolti saranno conservati
          per il periodo in cui si prescrive il diritto fatto valere, e comunque
          per tutto il tempo necessario all’adempimento degli obblighi dettati
          dalla normativa fiscale e contabile.
        </p>
        <p class="privacy-paragraph">
          I dati raccolti per l’iscrizione alla nesletter saranno conservati
          fino a che l’’interessato non eserciterà il proprio diritto a revocare
          il consenso espresso.
        </p>
        <p class="privacy-paragraph">
          I dati raccolti in seguito alla&nbsp;<strong
            >richiesta di contatto dell’interessato</strong
          >&nbsp;saranno conservati fino all’evasione della richiesta.
        </p>
        <p class="privacy-paragraph">
          I dati raccolti e relativi alla&nbsp;<strong
            >candidature presentate mediante l’apposito form “Lavora con
            noi”</strong
          >&nbsp;saranno conservati per il periodo di un anno.
        </p>
        <h3 class="privacy-subtitle">DIRITTI DELL’INTERESSATO</h3>
        <p class="privacy-paragraph">
          L’interessato ha diritto di esercitare i diritti di cui agli artt. 7,
          15-22 del Reg. Europeo 679/2016.
        </p>
        <p class="privacy-paragraph">
          In particolare, per i trattamenti basati sul consenso, l’interessato
          ha diritto di revocarlo in qualsiasi momento seguendo le apposite
          istruzioni indicate nella newsletter ricevuta oppure contattando il
          Titolare o il Responsabile della protezione dati agli indirizzi mail
          appresso indicati. L’interessato, secondo le stesse modalità di
          esercizio, ha poi diritto di ottenere dal Titolare del trattamento la
          conferma dell’esistenza o meno dei propri dati personali e la loro
          messa a disposizione in forma intelligibile; ha diritto di chiedere
          l’accesso ai dati personali che lo riguardano, ricevere i dati
          personali forniti al Titolare e trasmetterli ad un altro Titolare del
          trattamento senza impedimenti (c.d. portabilità); ottenere
          l’aggiornamento, la limitazione del trattamento, la rettificazione dei
          dati e la cancellazione di quelli trattati in difformità dalla
          normativa vigente.
        </p>
        <p class="privacy-paragraph">
          L’interessato ha altresì diritto, per motivi legittimi, di opporsi al
          trattamento dei dati personali che lo riguardano ed al trattamento per
          fini di invio di materiale pubblicitario, di vendita diretta e per il
          compimento di ricerche di mercato. Ha altresì diritto a proporre
          reclamo al Garante della Privacy quale autorità di controllo in
          materia di protezione dei dati personali.
        </p>

      </div>
    </section>

    <%- include('../partials/footer'); -%>
  </body>
</html>
