<!DOCTYPE html>
<html>
  <head>
    <title>Avvocato Lenzi - Servizi all'Impresa</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/impresa.scss" />
  </head>
  <body class="impresa">
    <%- include('../partials/header'); -%>

    <%- include('../partials/hero_start', {page: 'impresa'}); -%>
        Servizi per le piccole e medie <em>imprese</em>
    <%- include('../partials/hero_end'); -%>

    <section class="impresa-container">
        <div class="impresa-box">
            <h2 class="impresa-title">Assistenza giudiziale e stragiudiziale</h2>
            <p class="impresa-paragraph">
                Ci sono molti problemi legali che possono distrarre un imprenditore
                dalla sua attività. Per ridurre le sue preoccupazioni è necessario
                affidarsi ad uno studio legale di fiducia che gestisca efficientemente
                le questioni legali.
            </p>

            <p class="impresa-paragraph">
                Lavoriamo in modo orientato alle singole necessità delle aziende,
                fornendo consulenza e assistenza in riferimento a:
            </p>

            <ol class="impresa-list">
                <li class="impresa-item">
                redazione e revisione di <b>contratti commerciali</b>, tra i quali, quelli di
                compravendita, leasing, licenza software, franchising, affitto di ramo
                d’azienda, transazioni, appalti di opere o servizi;
                </li>
                <li class="impresa-item"><b>fideiussioni, ipoteche</b> e pegno;</li>
                <li class="impresa-item">finanziamenti e <b>contenzioso bancario</b>;</li>
                <li class="impresa-item">arbitrati;</li>
                <li class="impresa-item"><b>recupero del credito</b>;</li>
                <li class="impresa-item">
                apertura e/o insinuazione nelle procedure di concordato e <b>fallimento</b>;
                </li>
                <li class="impresa-item">risarcimento del danno;</li>
                <li class="impresa-item"><b>contenzioso tributario</b>.</li>
            </ol>

            <p class="impresa-paragraph">
                Per una assistenza legale continua che affianchi la sua attività e risolva ogni problema legale, lo Studio offre servizi strutturati in base agli specifici obiettivi ed esigenze
                economiche delle aziende.
            </p>

            <div class="impresa-cta">
                <a href="/contatti.html">Chiedi una consulenza <i class="fa fa-chevron-right"></i></a>
            </div>

        </div>
    </section>

    <%- include('../partials/footer'); -%>

  </body>
</html>
