<!DOCTYPE html>
<html>
  <head>
    <title>Avvocato Lenzi - Servizi tutela-persona</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/tutela-persona.scss" />
  </head>
  <body class="tutela-persona">
    <%- include('../partials/header'); -%>

    <%- include('../partials/hero_start', {page: 'tutela-persona'}); -%>
        Tutela della <em>persona</em>
    <%- include('../partials/hero_end'); -%>

    <section class="tutela-persona-what">
        <div class="tutela-persona-container">
            <nav class="tutela-persona-menu">
                <ul>
                    <li><a href="#">Risarcimento del danno</a></li>
                    <li><a href="#">Diritto di famiglia e dei minori</a></li>
                    <li><a href="#">Locazioni</a></li>
                    <li><a href="#">Diritto Condominiale</a></li>
                    <li><a href="#">Contrattualistica</a></li>
                </ul>
            </nav>

            <div class="tutela-persona-content">
                <div class="tutela-persona-content-box">
                    <h2 class="tutela-persona-content-title">Risarcimento del danno</h2>
                    <p class="tutela-persona-content-paragraph">Può capitare di essere coinvolti in un incidente stradale, di riportare lesioni personali, subire il danneggiamento di beni o proprietà o che vengano mal eseguiti dei lavori di ristrutturazione.</p>
                    <p class="tutela-persona-content-paragraph">In questi e in molti altri casi le persone coinvolte subiscono danni economici, fisici o psicologici, questa è la ragione per la quale esercitiamo nell’ambito della responsabilità civile. </p>
                    <p class="tutela-persona-content-paragraph">Forniamo assistenza e difesa processuale sia ai danneggiati, al fine di ottenere un adeguato risarcimento, sia a coloro che sono accusati di aver provocato un danno.</p>

                    <div class="tutela-persona-content-cta">
                        <a href="#">Chieda una Consulenza</a>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <%- include('../partials/footer'); -%>

  </body>
</html>
