<!DOCTYPE html>
<html>
  <head>
    <title>Avvocato Lenzi - Tutela della Persona</title>

    <%- include('../partials/head'); -%>

    <link rel="stylesheet" type="text/css" href="../styles/tutela-persona.scss" />
  </head>
  <body class="tutela-persona">
    <%- include('../partials/header'); -%>

    <%- include('../partials/hero_start', {page: 'tutela-persona'}); -%>
        Tutela della <em>persona</em>
    <%- include('../partials/hero_end'); -%>

    <section class="tutela-persona-what">
        <div class="tutela-persona-container">
            <nav class="tutela-persona-menu">
                <ul class="tutela-persona-menu-list">
                    <li class="tutela-persona-menu-item"><a data-show="risarcimento-del-danno" href="#">Risarcimento del danno <i class="fa fa-chevron-right"></i></a></li>
                    <li class="tutela-persona-menu-item"><a data-show="diritto-famiglia-e-minori" href="#">Diritto di famiglia e dei minori <i class="fa fa-chevron-right"></i></a></li>
                    <li class="tutela-persona-menu-item"><a data-show="locazioni" href="#">Locazioni <i class="fa fa-chevron-right"></i></a></li>
                    <li class="tutela-persona-menu-item"><a data-show="diritto-condominiale" href="#">Diritto Condominiale <i class="fa fa-chevron-right"></i></a></li>
                    <li class="tutela-persona-menu-item"><a data-show="contrattualistica" href="#">Contrattualistica <i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </nav>

            <div class="tutela-persona-content" id="risarcimento-del-danno">
                <div class="tutela-persona-content-box">
                    <h2 class="tutela-persona-content-title">Risarcimento del danno</h2>
                    <p class="tutela-persona-content-paragraph">Può capitare di essere coinvolti in un incidente stradale, di riportare lesioni personali, subire il danneggiamento di beni o proprietà o che vengano mal eseguiti dei lavori di ristrutturazione.</p>
                    <p class="tutela-persona-content-paragraph">In questi e in molti altri casi le persone coinvolte subiscono <b>danni economici, fisici o psicologici</b>, questa è la ragione per la quale esercitiamo nell’ambito della responsabilità civile. </p>
                    <p class="tutela-persona-content-paragraph">Forniamo assistenza e difesa processuale sia ai danneggiati, al fine di ottenere un <b>adeguato risarcimento</b>, sia a coloro che sono accusati di aver provocato un danno.</p>

                    <div class="tutela-persona-content-cta">
                        <a href="/consulenze.html">Chieda una Consulenza <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="tutela-persona-content" id="diritto-famiglia-e-minori" style="display: none;">
                <div class="tutela-persona-content-box">
                    <h2 class="tutela-persona-content-title">Diritto di famiglia e minori</h2>
                    <p class="tutela-persona-content-paragraph">Le controversie familiari sono uno degli eventi più stressanti che si possono sperimentare nel corso della vita.</p>
                    <p class="tutela-persona-content-paragraph">Nei casi di <b>separazione, divorzio</b>, responsabilità genitoriale, affidamento esclusivo del minore, assegno di mantenimento, assegnazione della casa familiare o diritto di visita ci occupiamo di trovare la soluzione migliore, aiutando il cliente a comprendere i suoi diritti e i suoi obblighi.</p>

                    <div class="tutela-persona-content-cta">
                        <a href="/consulenze.html">Chieda una Consulenza <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="tutela-persona-content" id="locazioni" style="display: none;">
                <div class="tutela-persona-content-box">
                    <h2 class="tutela-persona-content-title">Locazioni</h2>
                    <p class="tutela-persona-content-paragraph">Concedere o prendere in locazione un immobile può presentare insidie dal punto di vista legale, in ogni caso forniamo assistenza professionale qualificata per i servizi di:</p>
                    <ul class="tutela-persona-content-list">
                        <li class="tutela-persona-content-item">redazione e revisione dei <b>contratti di locazione</b>;</li>
                        <li class="tutela-persona-content-item">consulenza in caso di infiltrazioni, degrado o altri <b>vizi dell’immobile</b>;</li>
                        <li class="tutela-persona-content-item"><b>sfratto</b> per morosità e recupero dei canoni e delle spese non pagate;</li>
                        <li class="tutela-persona-content-item">recupero del possesso dell’immobile.</li>
                    </ul>

                    <div class="tutela-persona-content-cta">
                        <a href="/consulenze.html">Chieda una Consulenza <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="tutela-persona-content" id="diritto-condominiale" style="display: none;">
                <div class="tutela-persona-content-box">
                    <h2 class="tutela-persona-content-title">Diritto Condominiale</h2>
                    <p class="tutela-persona-content-paragraph">Offriamo consulenza e assistenza ad <b>Amministratori di Condominio e a singoli condomini</b> che ritengono leso un proprio diritto relativo a questioni condominiali, in particolare per quanto riguarda vicini rumorosi o molesti, mancato rispetto delle cose comuni, del regolamento di condominio, mancato pagamento degli oneri condominiali ed azioni nei confronti degli amministratori per cattiva gestione.</p>

                    <div class="tutela-persona-content-cta">
                        <a href="/consulenze.html">Chieda una Consulenza <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="tutela-persona-content" id="contrattualistica" style="display: none;">
                <div class="tutela-persona-content-box">
                    <h2 class="tutela-persona-content-title">Contrattualistica</h2>
                    <p class="tutela-persona-content-paragraph">La stesura di un buon contratto con clausole espresse, chiare e garantiste previene il contenzioso e salvaguarda i diritti in caso di successivo disaccordo con la controparte, per questo forniamo assistenza in:</p>
                    <ul class="tutela-persona-content-list">
                        <li class="tutela-persona-content-item">fase precontrattuale, di <b>redazione e revisione dei contratti</b>;</li>
                        <li class="tutela-persona-content-item">fase di <b>contenzioso contrattuale</b> a causa di nullità, annullabilità o risoluzione per inadempimento.</li>
                    </ul>

                    <div class="tutela-persona-content-cta">
                        <a href="/consulenze.html">Chieda una Consulenza <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <%- include('../partials/footer'); -%>

  </body>
</html>
